*~
*.o
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/gncd/config.cpp
src/gncd/config.h
src/gncd/db.cpp
src/gncd/db.h
src/gncd/gncd
src/gncd/streamcmdserver.cpp
src/gncd/streamcmdserver.h
